---
layout: base
title: TransportationCamp
---

<section id="upcoming">
  <!-- <h2>Upcoming Events</h2> -->
  <ul class="unstyled-list">
    {% assign sorted_events = site.data.events | sort: 'date' %}
    {% for event in sorted_events %}
      {% if event.date > site.time %}
      <li class="event" style="background-image: url({{ site.baseurl }}/assets/images/{{ event.background_img }});">
        <div class="container">
          <div class="event-header">
            <a class="event-date" href="{{ site.baseurl }}{{ event.url }}">{{ event.date | date: "%B %d"}}</a>
            <a class="event-title" href="{{ site.baseurl }}{{ event.url }}">{{ event.title }}</a>
          </div>
          <div class="event-footer">
            <a href="{{ site.baseurl }}{{ event.url }}">Details</a> | {% if event.register_url %}<a href="{{ event.register_url }}" target="_blank">Register</a>{% else %}<span class="no-registration-link">Register</span>{% endif %}
          </div>
        </div>
      </li>
      {% endif %}
    {% endfor %}
  </ul>
</section>

<section id="about">
 <div class="container">
   <div class="page-header">
     <h2>About TransportationCamp</h2>
   </div>

    <h4>TransportationCamp brings together thinkers and doers in the fields of transportation &amp; technology.</h4>

    <p>TransportationCamp is an unconference bringing together transportation professionals, technologists, and others interested in the intersection of urban transportation and technology.</p>

    <p>Transportation is a major metropolitan issue, with direct impacts on economic strength, environmental sustainability, and social equity. Recent advances in technology&mdash;mobile computing, open source software, open data and APIs, and spatial analysis&mdash;present an opportunity to improve mobility more immediately and at a lower cost than has ever been possible in the past.</p>

      <p>TransportationCamp raises awareness of this opportunity and builds  connections between disparate innovators in public administration, transportation operations, information design, and software engineering.</p>

    <h4>What's an "unconference?"</h4>

    <p>This is not a traditional conference. The session topics and activities are suggested by the attendees. In addition to talks and presentations from big names in transportation and technology, TransportationCamp provides an opportunity for every attendee to be a participant in shaping and leading the event. Be prepared to get involved and meet people. 
    
    <p>Major themes include open data, best practices and technical challenges, ways to lower the cost of technology for transportation agencies, and creative new approaches to addressing transportation issues.</p>
    
    <h4>Keep in touch</h4>
<!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="http://transportationcamp.us2.list-manage2.com/subscribe/post?u=f737d6aae1136fa999b210fdf&amp;id=743ecabde2" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
	<label for="mce-EMAIL">Want to hear about future TransportationCamps? Subscribe to the mailing list</label>
	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_f737d6aae1136fa999b210fdf_743ecabde2" value=""></div>
	<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
</form>
</div>

<!--End mc_embed_signup-->

    <a class="btn btn-block btn-large" href="{{ site.baseurl }}/2011/02/how-transportationcamp-works-the-essential-guide/">How TransportationCamp works: <span class="nobreak">the essential guide</span></a>
  </div>
</section>

<section id="news">
  <div class="container clearfix">
    <div class="page-header">
      <h2>What's Happening?</h2>
    </div>
    <ul class="unstyled-list">
      {% for post in site.posts limit: 3 %}
        <li class="post">
          <h3 class="post-title"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>
          <div class="post-excerpt">{{ post.excerpt }}</div>
        </li>
      {% endfor %}
    </ul>

    <a class="pull-right btn" href="{{ site.baseurl }}/news">See All News<span class="arrow">&nbsp;&nbsp;&#9658;</span></a>
  </div>
</section>

<section id="past">
  <div class="past-events-header container">
    <h2>Past Events</h2>
  </div>
  <ul class="unstyled-list">
    {% assign sorted_events = site.data.events | sort: 'date' %}
    {% for event in sorted_events reversed %}
      {% if event.date < site.time %}
      <li class="event" style="background-image: url({{ site.baseurl }}/assets/images/{{ event.background_img }});">
        <div class="container">
          <div class="event-header">
            <a class="event-date" href="{{ site.baseurl }}{{ event.url }}">{{ event.date | date: "%B %d"}}</a>
            <a class="event-title" href="{{ site.baseurl }}{{ event.url }}">{{ event.title }}</a>
          </div>
        </div>
      </li>
      {% endif %}
    {% endfor %}
  </ul>
</section>
