---
layout: base
title: Past TransportationCamps
---
{% assign past_events = site.data.events | sort: 'date' | where_exp: 'item', 'item.date < site.time' %}
{% assign years = past_events | map: 'year' | uniq %}

<div>
    <h1>Past Camps</h1>
    {% for year in years reversed %}
    <h2 class="event-year">{{ year }}</h2>
    <hr/>
    <div class="event-list">
        {% for event in past_events %}
        {% if event.year == year %}
        {% include event_card.html event = event %}
        {% endif %}
        {% endfor %}
    </div>
    {% endfor %}
</div>
