---
layout: base
title: TransportationCamp News
---

<div class="page">
  <div class="container">

    <div class="page-header">
      <h1 class="page-title">TransporationCamp News</h1>
    </div>

    {% for post in paginator.posts %}
    <article class="post">
      <div class="post-header">
        <h3 class="post-title"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>
      </div>
      <p>{{ post.content }}</p>
    </article>
    {% endfor %}

    <nav class="post-nav clearfix">
      {% if paginator.previous_page_path %}
      <a class="btn pull-left" href="{{ site.baseurl }}{{ paginator.previous_page_path }}"><span class="arrow">&#9668;&nbsp;&nbsp;</span>Newer</a>
      {% endif %}
      {% if paginator.next_page_path %}
      <a class="btn pull-right" href="{{ site.baseurl }}{{ paginator.next_page_path }}">Older<span class="arrow">&nbsp;&nbsp;&#9658;</span></a>
      {% endif %}
    </nav>

  </div>
</div>