<div class="event-full"
     style="background-image: url({{ site.baseurl }}/assets/event-images/{{ event.background_img }});">
    <div class="container event-full-box">
        <div class="event-full-name">{{ event.title }}</div>
        <div class="event-full-date">{{ event.date | date: "%B %e"}}</div>
        <div class="event-full-links">
            <a href="{{ event.url | absolute_url }}">Details</a> |
            {% if event.register_url %}
            <a href="{{ event.register_url }}" target="_blank">Register</a>
            {% else %}
            <span>Register</span>
            {% endif %}
        </div>
    </div>
</div>
