<div class="card">
    <img class="past-img" alt="" src="{{ site.baseurl }}/assets/event-images/{{ event.background_img }}">
    <div class="card-body">
        <div>
            <div>
                <span class="event-title">{{ event.title }}</span>
                <span class="event-subtitle">{{ event.subtitle }}</span>
            </div>
            <div class="event-date">{{ event.date | date: "%B %e"}}</div>
        </div>
        <a class="event-button" href="{{ event.url | absolute_url }}">Details</a>
    </div>
</div>
