
/* =Base Styles
-------------------------------------------------------------- */

/* Typography */
body { line-height: 1.5; }
body, select, input, textarea {
  color: #444;
  font-family: "Century Gothic", CenturyGothic, "Helvetica Neue", Arial, sans-serif;
}
h1,h2,h3,h4,h5,h6 {
  margin: 0 0 0.25em 0;site-header
  line-height: 1.25;
}
h1 { font-size: 2em; }
h2 { font-size: 2em; }
h3 { font-size: 1.75em; }
h4 { font-size: 1.75em; font-weight: normal; margin-bottom: 0.5em; }
h5 { font-size: 1.5em; font-weight: normal; margin-bottom: 0.5em; }
h6 { font-size: 1.25em; text-transform: uppercase; }

a:hover, a:active { outline: none; }
a, a:active, a:visited { color: #308fbf; }
a:hover { color: #3db6f2; }
p { margin: 0 0 1.2em; }
ul, ol { margin-left: 1.8em; }
ol { list-style-type: decimal; }
ul, ol, dl { margin-bottom: 0.6em; }
li { padding-bottom: 0.6em; }
ul.unstyled-list, ol.unstyled-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav li {
  padding-bottom: 0;
}
strong {
  font-weight: 800;
}
hr {
  margin: 1.5em 0;
  border: 0;
  border: 1px solid #eeeeee;
  border-top-color: rgba(0,0,0,0.2);
  border-bottom-color: rgba(255,255,255,0.75);
  border-right: 0;
  border-left: 0;
}
.container hr {
  margin-right: -10px;
  margin-left: -10px;
}
.capitalize { text-transform: capitalize; }

/* Images */
img {
  max-width: 100%;
  height: auto;
}
.icon-inline {
  height: 1.5em;
  width: auto;
  margin: 0 0.25em -0.325em 0.5em;
}
.icon-muted {
  opacity: 0.75;
}

/* Buttons */
.btn,
.btn:visited,
.btn:link {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  padding: 0.325em 0.75em 0.25em;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #3db6f2;
  border: 0.125em solid rgba(0,0,0,0.1);
}
.btn:hover {
  background-color: #308fbf;
}
.btn-primary,
.btn-primary:visited,
.btn-primary:link {
  background-color: #268099;
  border-color: #48a5bf;
  color: #fff;
}
.btn-block,
.btn-block:visited,
.btn-block:link {
  clear: both;
  display: block;
  margin: 0 0 1.2em;
  padding: 0.75em 1em;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
  width: 100%;
}
.btn-large {
  font-size: 1.25em;
}
.btn-small {
  font-size: 0.75em;
}

/* Forms */
form {
}
label {
}
.input-block,
textarea {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
  width: 100%;
  border: 0.25em solid #a1cbcf;
  padding: 0.5em;
  outline: 0;
}
.input-block:focus,
textarea:focus {
  outline: 2px solid #268099;
}
textarea {
  height: 6.5em;
  resize: none;
}


/* =Nonsemantic Base Styles
-------------------------------------------------------------- */

.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; visibility: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

/* Hide for both screenreaders and browsers */
.is-hidden { display: none; visibility: hidden; }
/* Hide only visually, but have it available for screenreaders */
.is-screen-reader-text,
.is-visuallyhidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}
/* Hide visually and from screenreaders, but maintain layout */
.is-invisible { visibility: hidden; }

.nobreak { white-space: nowrap; }

.pull-right { float: right; }
.pull-left { float: left; }


/* =Layout
-------------------------------------------------------------- */

html { height: 100%; }
body {
  min-height: 100%;
  background-color: #fff;
  text-align: center;
  font-size: small;
}
.container {
  max-width: 42em;
  margin: 0 auto;
}


/* =Header
-------------------------------------------------------------- */

.site-header {
  padding: 1em 1em;
}
.site-title {
  margin: 0;
}
.site-title a {}
.site-logo {
  display: block;
}
.site-credit {
  float: right;
  color: #aaa;
  font-size: 0.75em;
  text-transform: uppercase;
  margin-top: 0.325em;
}
a.openplans-link,
a.openplans-link:visited {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  color: #ffb57f;
  font-weight: bold;
  text-decoration: none;
  text-transform: none;
  font-size: 1.25em;
}

/* Main Menu */
.main-nav {
  margin-bottom: 1em;
}
.main-nav li {
  display: inline;
  font-size: 0.75em;
}
.main-nav a {
  text-decoration: none;
  text-transform: uppercase;
  padding: 0 0.75em;
}


/* =Events
-------------------------------------------------------------- */

.event {
  padding: 2em 1em;
  background-position: center center;
  background-size: cover;
  text-shadow: 0 1px 1px rgba(255,255,255,0.75);
}
.event .container {
  background: white;
  background: rgba(255,255,255,0.75);
  padding: 1em 0 2em;
}
.event-header {}
.event-date,
.event-title {
  display: block;
  text-decoration: none;
  line-height: 1.25;
}
a.event-date,
a.event-date:visited {
  color: #e26b1b;
  font-size: 3em;
  font-weight: bold;
}
.event-title,
.event-title:visited,
.event-title:hover {
  font-size: 2em;
  color: #444;
}
.event-footer {
  color: #aaa;
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 0.625em;
}
.event-footer a {
  text-decoration: none;
  text-transform: uppercase;
}
.no-registration-link {
  text-transform: uppercase;
  cursor: default;
}


/* =About
-------------------------------------------------------------- */

#about {
  text-align: left;
  padding: 2em 1em;
  background: #ddd;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #ccc;
}


/* =News & Posts
-------------------------------------------------------------- */

#news {
  text-align: left;
  padding: 2em 1em 3em;
}
.post {
  margin: 0 0 2em;
  padding: 0 0 1em;
  border-bottom: 1px solid #ddd;
}
.post-header {}
.post-title {
  margin-bottom: 0.25em;
}
.post-title a {
  text-decoration: none;
}
.post-meta {
  color: #aaa;
  font-size: 0.75em;
  text-transform: uppercase;
}
.post-excerpt {}
.post-nav {
  margin-bottom: 2em;
}


/* =Past Events
-------------------------------------------------------------- */

#past {
  color: #ddd;
  background: #aaa;
}
.past-events-header {
  padding: 0 1em;
}
.past-events-header h2 {
  background: #777;
  margin: 0;
  padding: 0.5em;
}


/* =Pages
-------------------------------------------------------------- */

.page {
  text-align: left;
  padding: 0 1em 4em;
}
.page-header {
  margin: 0 0 2em;
  padding: 0 0 1em;
  border-bottom: 1px solid #ddd;
  border-bottom-color: rgba(0,0,0,0.1);
}
.page-title {}
.page-content {}


/* =Arrows
-------------------------------------------------------------- */

.arrow {
  font-family: Arial, sans-serif;
}


/* =Media Queries for Responsive Layout
-------------------------------------------------------------- */

@media only screen and (min-width: 42em) {
  body {
    font-size: medium;
  }
  .main-nav li {
    display: block;
    float: left;
    width: 33%;
    font-size: 1em;
  }
  /*#upcoming*/ li.event {
    padding: 8em 1em;
  }
}
