/* =Layout
-------------------------------------------------------------- */
body {
    min-height: 100%;
    background-color: #fff;
    font-size: medium;
    color: #444;
    font-family: 'Open Sans', sans-serif;
}

.body {
    padding-bottom: 2em;
    padding-left: 2em;
    padding-right: 2em;
}

.container {
    max-width: 42em;
    margin: 0 auto;
}

.page {
    text-align: left;
}

/* =Base Styles
-------------------------------------------------------------- */
/* Typography */
h1, h2, h3, h4, h5, h6 {
    margin: 0 0 0.25em 0;
    line-height: 1.25;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.5em;
}

/* Images */
img {
    max-width: 100%;
    height: auto;
}

/* =Header
-------------------------------------------------------------- */
.site-header {
    padding-left: 1em;
    padding-right: 1em;
}

.site-logo {
    margin-top: 1em;
    margin-bottom: 1em;
}

/* Main Menu */
.main-nav {
    margin-bottom: 1em;
    margin-top: 0.5em;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    font-weight: bold;
}

.main-nav .nav-link {
    display: inline-block;
    color: #000;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    padding: 0.5em 1em;
}

.nav-link:hover {
    background-color: #dddddd;
    transition: 0.3s;
}

/* =Homepage
-------------------------------------------------------------- */
.home-section {
    margin-top: 0.5em;
}

.footer-img {
    margin-left: 0.5em;
}

/* =Events (homepage)
-------------------------------------------------------------- */
.event-full {
    padding: 2em 1em;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
}

@media only screen and (min-width: 42em) {
    .event-full {
        padding: 8em 1em;
    }
}

.event-full-box {
    background: rgba(255, 255, 255, 0.75);
    box-shadow: rgba(0, 0, 0, 0.25) 5px 5px 6px;
    padding-top: 1em;
    padding-bottom: 1.5em;
    width: 100%;
    height: 33%;
    line-height: 1.25;
    text-align: center;
    user-select: none;
}

.event-full-box a {
    color: unset;
    text-decoration: none;
}

.event-full-date {
    font-size: 1.8em;
}

.event-full-name {
    color: #e26b1b;
    font-size: 2.75em;
    font-weight: bold;
}

.event-full-links {
    color: #777;
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 0.625em;
    text-transform: uppercase;
}

.event-full-links a {
    color: #308fbf;
}

.event-full-links a:hover {
    color: #3db6f2;
}

/* =Events (cards)
-------------------------------------------------------------- */
.card {
    border-radius: 1em;
    border: 2px solid black;
    height: 21em;
    width: 21em;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.25) 2px 2px 4px;
    user-select: none;
}

.card .past-img {
    width: 100%;
    overflow: hidden;
    height: 50%;
    object-fit: cover;
}

.card .card-body {
    margin-left: 4%;
    margin-right: 4%;
    font-weight: bold;
    line-height: 1.5;
    color: black;
    display: flex;
    height: 46%;
    flex-direction: column;
    justify-content: space-between;
}

.event-title {
    color: #e26b1b;
    font-size: 1.65em;
}

.event-subtitle {
    color: #e26b1b;
    font-size: 1em;
    margin-left: 0.25em;
}

.event-full-name .event-subtitle {
    font-size: 0.5em;
    margin-left: 0.25em;
}

.event-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.75em;
    margin: 0.75em;
}

.event-year {
    margin-bottom: 0;
    margin-left: 1vw;
    margin-top: 1em;
}

.event-button {
    display: inline-block;
    background-color: #e26b1b;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    padding: 0.5em 1em;
    margin-top: 0.25em;
    margin-right: 0.25em;
}

.event-button:hover {
    background-color: #c55e1a;
    transition: 0.5s;
}

.page-header {
    margin: 0 0 2em;
    padding: 0 0 1em;
    border-bottom: 1px solid #ddd;
    border-bottom-color: rgba(0, 0, 0, 0.1);
}
