<!DOCTYPE html>
<html dir="ltr" lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="TransportationCamp">
    <meta name="author" content="OpenPlans">

    <!--  Mobile Viewport Fix -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <!-- Favicon & Progressively-Enhanced Touch Icons: http://mathiasbynens.be/notes/touch-icons#sizes -->
    <link rel="shortcut icon" href="{{ site.baseurl }}/images/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}/apple-touch-icon-144x144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ site.baseurl }}/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ site.baseurl }}/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="{{ site.baseurl }}/apple-touch-icon-precomposed.png">

    <title>{{ page.title }}</title>

    <link href="{{ site.baseurl }}/assets/css/normalize.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/assets/css/style.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <header class="site-header container clearfix">
      <nav class="main-nav clearfix">
        <ul class="unstyled-list">
          <li><a href="{{ site.baseurl }}/#upcoming">Upcoming</a></li>
          <li><a href="{{ site.baseurl }}/#about">About</a></li>
          <li><a href="{{ site.baseurl }}/#news">News</a></li>
          <li><a href="{{ site.baseurl }}/#past">Past</a></li>
        </ul>
      </nav>
      <h1 class="site-title"><a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/assets/images/tcamp-logo.png" alt="TransportationCamp"></a></h1>
      <span class="site-credit">A project of <a class="openplans-link" href="http://openplans.org/">OpenPlans</a></span>
    </header>
    <div class="main">
      {{ content }}
    </div>
    <footer></footer>

    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <!-- <script src="{{ site.baseurl }}/assets/js/afile.js"></script>  -->
  </body>
</html>
