<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <link rel="shortcut icon" href="{{ site.baseurl }}/assets/images/favicon.png">
    <title>{{ page.title }}</title>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/assets/css/style.css" rel="stylesheet">
</head>
<body>
<header class="site-header container">
    <nav class="main-nav">
        <div><a class="nav-link" href="{{ '/' | absolute_url }}">Upcoming</a></div>
        <div><a class="nav-link" href="{{ '/about' | absolute_url }}">About</a></div>
        <div><a class="nav-link" href="{{ '/past' | absolute_url }}">Past</a></div>
    </nav>
    {% if page.layout == "event" and page.logo %}
    <img class="site-logo" src="{{page.logo}}" alt="{{page.logo-alt}}">
    {% else %}
    <a href="{{ '/' | absolute_url }}">
        <img class="site-logo" src="{{ '/assets/images/tcamp-logo.png' | absolute_url }}"
             alt="TransportationCamp">
    </a>
    {% endif %}
</header>
<div class="main">
    {{ content }}
</div>
</body>
</html>
