---
layout: base
---
<div class="page">
  <div class="container">

    <div class="post">
      <div class="post-header">
        <h1 class="post-title">{{ page.title }}</h1>
        <p class="post-meta">{{ page.date | date_to_string }}</p>
      </div>
      <div class="post-content">
        {{ content }}
      </div>
    </div>

    <nav class="post-nav clearfix">
      {% if page.previous.url %}
      <a class="btn pull-left" href="{{ site.baseurl }}{{ page.previous.url }}"><span class="arrow">&#9668;&nbsp;&nbsp;</span>Previous Post</a>
      {% endif %}
      {% if page.next.url %}
      <a class="btn pull-right" href="{{ site.baseurl }}{{ page.next.url }}">Next Post<span class="arrow">&nbsp;&nbsp;&#9658;</span></a>
      {% endif %}
    </nav>

  </div>
</div>
